<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/baseline_add_box_24"
        android:label="@string/app_name"
        android:roundIcon="@drawable/baseline_add_box_24"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppQuanLiChiTieu_Android"
        tools:targetApi="31">
        <activity
            android:name=".Actiity_Khac.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".Actiity_Khac.YeahActivity"
            android:exported="false" />
        <activity
            android:name=".Actiity_Khac.KiActivity"
            android:exported="false" />
        <activity
            android:name=".Actiity_Khac.DM_KiActivity"
            android:exported="false" />
        <activity
            android:name=".Actiity_Khac.Catalog_Yeah_Activity"
            android:exported="false" />
        <activity
            android:name=".UpdateDMChi.Update_icon_DMChi"
            android:exported="false" />
        <activity
            android:name=".UpdateDMChi.Insert_icon_DMChi"
            android:exported="false" />
        <activity
            android:name=".Activity.Update_iconDM"
            android:exported="false" />
        <activity
            android:name=".Activity.Update_DM_Thu"
            android:exported="false" />
        <activity
            android:name=".Activity.Insert_danhmuc"
            android:exported="false" />
        <activity
            android:name=".Activity.Update"
            android:exported="false" />
        <activity
            android:name=".UpdateDMChi.Update_DM_Chi"
            android:exported="false"
            android:label="@string/title_activity_update_insert"
            android:theme="@style/Theme.AppQuanLiChiTieu_Android" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>